<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Png2Ico" Manufacturer="Kevin" Version="1.0.0.0" UpgradeCode="78335523-1799-4826-8695-541763371370" Scope="perUser">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="INSTALLFOLDER" Name="Png2Ico" />
    </StandardDirectory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="41816016-1964-4437-8602-685126195841">
        <File Source="..\dist\Png2Ico.exe" />
        <Environment Id="PATH" Name="PATH" Value="[INSTALLFOLDER]" Permanent="no" Part="last" Action="set" />
      </Component>
    </ComponentGroup>

    <Feature Id="ProductFeature" Title="Png2Ico" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Package>
</Wix>
